<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <title>Sales</title>
</head>
<body>

<form class="layui-form" id="form1">
    <div class="layui-form-item">
        <label class="layui-form-label">TraderName</label>
        <div class="layui-input-inline">
            <input type="text" name="traderName" lay-verify="required" lay-reqtext="sales id can not be null"
                   placeholder="name of the trader you want to trade" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">CusipId</label>
        <div class="layui-input-inline">
            <input type="text" name="cusipId" lay-verify="required" lay-reqtext="cusip id can not be null" placeholder="please input" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Price</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="price" placeholder="$" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Amount</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="amount" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">type</label>
        <div class="layui-input-inline">
            <input type="radio" name="type" value="2" title="sale" checked="">
            <input type="radio" name="type" value="1" title="buy">
        </div>
    </div>

    <!--<div class="layui-form-item layui-form-text">
      <label class="layui-form-label">编辑器</label>
      <div class="layui-input-block">
        <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
      </div>
    </div>-->
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">Submit</button>
            <button id="reset" type="reset" class="layui-btn layui-btn-primary">Reset</button>
        </div>
    </div>
</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/layui/layui.js"></script>
<!--your script-->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer

        //监听提交
        form.on('submit(demo1)', function(data){
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // });
            $.ajax({
                url:"/addSalesRequest",
                dataType:"text",
                method:"post",
                data:$('#form1').serialize(),
                success:function (returnData) {
                    if (returnData=="success"){
                        layer.msg("add success");
                        $("#reset").click();
                    }
                    else {
                        layer.msg("invalid password or user name")
                    }
                },
                error:function () {
                    $().alert("network failed")
                }
            });
            return false;
        });


    });
</script>
</body>
</html>